<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
    <title>Gepard</title>
<body>
    <h1>Гепард</h1>
    <img src="gepard.jpg" width="500px">
    <p>Привет я
        <a href="https://ru.wikipedia.org/wiki/Гепард">Гепард</a> самая быстрая кошка на планете, а это моя страничка!!
    </p>
    <p>
        <strong>Я за 3 секунды могу развивить скорость до
            <mark>110 км/ч</mark></strong><br>
        <em>А еще моё <del>туловище</del>тело стройное,
            с развитой мускулатурой и практически без жировых <sub>отложений</sub></em><br>

    </p>
</body>
</html>